a.current {
    font-style: italic;
}

a.current::after {
    font-style: normal;
    content: attr(data-content);
    height: 0;
    visibility: hidden;
    text-decoration: none;

    @media speech {
        display: none;
    }
}

div.nav {
    height: 2.6rem;
    margin-bottom: 1rem;
}

nav.root {
    margin-top: 3rem;
}

.subnav {
    margin-left: 5rem;
}

nav a {
    margin-right: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

section.switcher-section:not(.active) {
    display: none;
}

nav.switcher a.active {
    text-decoration: underline;
}
